body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* background-image: url('./images/sw-bg.jpg'); */
  background-image: url("https://images.unsplash.com/photo-1534796636912-3b95b3ab5986?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1471&q=80");
  background-size: cover;
}
